{% extends "base.html" %}


{% block main_content %}
    <div class="row">

        <div class="col-xs-4">
            <div class="thumbnail tariff-thumbnail">
                <div class="caption">
                    <h1>5 Мбит/с</h1>
                    <h3 class="tariff-heder">Эконом-5</h3>
                    <h4 class="tariff-heder">Цена: 150р.</h4>
                    <p>Тариф подходит для работы с электронной почтой и не расчитан на большое количество членов семьи.</p>
                    <a href="#" class="btn btn-default tariff-button" role="button" data-toggle="modal" data-target="#tariff-connect-dialog">Подключить</a>
                </div>
            </div>
        </div>

          <div class="col-xs-4">
            <div class="thumbnail tariff-thumbnail">
              <div class="caption">
                <h1>10 Мбит/с</h1>
                <h3 class="tariff-heder">Базовый-10</h3>
                <h4 class="tariff-heder">Цена: 150р.</h4>
                <p>Тариф подходит для работы с электронной почтой и не расчитан на большое количество членов семьи.</p>
                <a href="#" class="btn btn-default tariff-button" role="button" data-toggle="modal" data-target="#tariff-connect-dialog">Подключить</a>
              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="thumbnail tariff-thumbnail">
              <div class="caption">
                <h1>25 Мбит/с</h1>
                <h3 class="tariff-heder">Стандарт-25</h3>
                <h4 class="tariff-heder">Цена: 150р.</h4>
                <p>Тариф подходит для работы с электронной почтой и не расчитан на большое количество членов семьи.</p>
                <a href="#" class="btn btn-default tariff-button" role="button" data-toggle="modal" data-target="#tariff-connect-dialog">Подключить</a>
              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="thumbnail tariff-thumbnail">
              <div class="caption">
                <h1>50 Мбит/с</h1>
                <h3 class="tariff-heder">Продвинутый-50</h3>
                <h4 class="tariff-heder">Цена: 150р.</h4>
                <p>Тариф подходит для работы с электронной почтой и не расчитан на большое количество членов семьи.</p>
                <a href="#" class="btn btn-default tariff-button" role="button" data-toggle="modal" data-target="#tariff-connect-dialog">Подключить</a>
              </div>
            </div>
          </div>

          <div class="col-xs-4">
            <div class="thumbnail tariff-thumbnail">
              <div class="caption">
                <h1>100 Мбит/с</h1>
                <h3 class="tariff-heder">Супер-100</h3>
                <h4 class="tariff-heder">Цена: 150р.</h4>
                <p>Тариф подходит для работы с электронной почтой и не расчитан на большое количество членов семьи.</p>
                <a href="#" class="btn btn-default tariff-button" role="button" data-toggle="modal" data-target="#tariff-connect-dialog">Подключить</a>
              </div>
            </div>
          </div>


    </div>
{% endblock %}
