{% extends "base.html" %}


{% block tariff_active %}active{% endblock %}


{% block main_content %}

    <div class="page-title">
        <a href="{% url 'tariff_list' %}" class="nav-chain">Тарифы {% if not object_list %}(пусто){% endif%}</a>
    </div>

    <div class="row">
        {% for tariff in object_list %}
            <div class="col-xs-4">
                <div class="thumbnail tariff-thumbnail" tatiff_id="{{ tariff.id }}" data-toggle="modal" data-target="#tariff-connect-dialog">
                    <div class="caption">
                        <h1>{{ tariff.speed }}</h1>
                        <h3 class="tariff-heder">{{ tariff.title }}</h3>
                        {{ tariff.content | safe }}
                        <h4 class="tariff-price">Цена: {{ tariff.price }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
