.top-navbar {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.main-navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

.navbar-nav li a {
    padding-left: 30px;
    padding-right: 30px;
}


.fix-container {
    width: 800px !important;
}

.main-banner {
    width: 770px;
    border-color: #e7e7e7 !important;
    border-left: 1px solid;
    border-right: 1px solid;
}

.tariff-thumbnail {
    height: 300px;
    position: relative;
    cursor: pointer;
}

.tariff-thumbnail:hover {
    background-color: #e6e6e6;
}

.tariff-heder {
    color: #777;
}

.tariff-price {
    color: #777;
    position: absolute;
    bottom: 10px;
}

.tariff-button {
    width: 209px;
    position: absolute;
    bottom: 15px;
}

.bottom-nav {
    min-height: 15px;
    padding-right: 15px;
}

.send-progress {
    display: none;
    left: 15px;
    position: absolute;
    top: 15px;
}

.relative {
    position: relative;
}

.page-title {
    color: #999999;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: Helvetica,​Arial,​sans-serif;
}

.page-title a {
    color: #999999;
    text-decoration: none;
}

.hidden {
    display: none;
}
